<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

<%= yield %>

</body>
</html>
